
.carousel-caption{
text-align:center;
background:#000000b8;
padding:30px 20px;
bottom: 3.5rem;
width:60%;
left:20%;
 }
.carousel-indicators{
bottom:0; 
 }
.center_home .carousel-indicators [data-bs-target] {
background-color:#eddd5e;
}

/*********************exep****************/

.exep_1lm2{
top:440px;
left:140px;
 }
/*********************exep_end****************/

/*********************serv****************/
#serv{
padding-top:40px;
padding-bottom:40px;
background: #edf5ef;
margin-top:40px;
 }
.serv_2i1{
background:#fff;
padding:30px 20px 50px 20px; 
 }
.serv_2i2i1 span a{
display:inline-block;
border-radius:50%;
width:50px;
height:50px;
line-height:50px;
background:#eddd5e;
text-align:center;
font-size:22px;
 }
.serv_2i2i1 span a:hover{
background:#404a3d;
color:#fff;
 }
.serv_2i2i1{
left:20px; 
top:-25px;
 }
/*********************serv_end****************/

/*********************type****************/
#type {
background-image: url(../img/1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position:center;
}
.type_1 span{
background:#eddd5e;
width:100px;
height:100px;
line-height:100px;
font-size:30px;
display:inline-block;
border-radius:5px;
 }
.type_1 span:hover{
background:#404a3d;
color:#fff;
 }
/*********************type_end****************/


/*********************benef****************/
#benef{
padding-top:40px;
padding-bottom:40px; 
 }
.award_1i{
background:#404a3d;
padding:20px 15px 30px 15px; 
border-radius:10px;
}
/*********************benef_end****************/


@media screen and (max-width : 767px){
.exep_1lm2 {
display:none; 
 }
.exep_1lm1 img {
width:100%;
margin-bottom:10px;
 }
.exep_1r h2{
font-size:24px; 
 }
.benef_1l h3{
font-size:24px; 
 }
#serv{
margin-top:0; 
 }
.serv_2i{
margin-top:15px; 
 }
.award_1i {
margin-bottom:10px; 
 }
}
@media (min-width:768px) and (max-width:991px) {
.center_home img{
min-height:600px; 
 }
.center_home h1{
font-size:38px; 
 }
.exep_1lm2 {
display:none; 
 }
.exep_1lm1 img {
width:100%;
height:580px;
 }
.exep_1r h2{
font-size:30px; 
 }
.exep_1r h3{
font-size:24px; 
 }
.serv_2i1 h4{
font-size:20px; 
 }
.benef_1l h3{
font-size:22px;  
 }
 }
@media (min-width:992px) and (max-width:1200px) {
.center_home img{
min-height:600px; 
 }
.center_home h1{
font-size:38px; 
 }
.exep_1lm2 {
display:none; 
 }
.exep_1lm1 img {
height:580px;
 }
.benef_1l h3{
font-size:24px; 
 }
 }
